<div [id]="flipId" class="flex flex-col  h-[100px] md:h-[150px] w-[80px] md:w-[150px]">
  <div
    class="flex shadow-black shadow-lg h-full w-full relative flex-col items-center text-center justify-center"
  >
    <div
      style="background-color: hsl(237, 19%, 23%)"
      class="rounded-md bottom-box w-full absolute top-0 h-[50%]"
    >
      <p
        class="text-4xl md:text-6xl left-0 right-0 md:bottom-[-25px] bottom-[-20px] tx1 font-bold absolute"
        style="color: hsl(345, 73%, 57%)"
      >
        00
      </p>
    </div>
    <div
      style="
        background-color: hsl(237, 19%, 23%);
        transform-origin: center bottom;
        transform-style: preserve-3d;
      "
      class="bottom-box rounded-md h-[50%] overflow-hidden w-full relative flip-1"
    >
      <p
        class="text-4xl md:text-6xl left-0 right-0 md:bottom-[-25px] bottom-[-20px] tx2 font-bold absolute"
        style="color: hsl(345, 73%, 57%)"
      >
        00
      </p>
    </div>
    <div
      style="
        background-color: hsl(236, 21%, 26%);
        transform-origin: center top; 
      "
      class="rounded-md top-box flip-2  w-full h-[50%] z-10 shadow-black shadow-lg  "
    >
      <p
        style="color: hsl(345, 95%, 68%)"
          class="text-4xl md:text-6xl ml-[-1px]  md:mt-[-35px] mt-[-20px]  tx3 font-bold  "
     >
        00
      </p>
    </div>
    <div
      style="background-color: hsl(236, 21%, 26%)"
   
      class="rounded-md top-box w-full absolute bottom-0 h-[50%]"  >
      <p   
        style="color: hsl(345, 95%, 68%)"
        class="text-4xl md:text-6xl   md:mt-[-35px] mt-[-20px]  tx4 font-bold  "
      >
        00
      </p>
    </div>
  </div>
  <p class="text-[7px] md:text-sm mt-5 red-hat-text-700" style="color: hsl(237, 18%, 59%)">
    {{ label }}
  </p>
</div>
